  <div class="card-content">
    <div class="card-img">
      <img src="https://placeimg.com/380/230/nature" alt="">
      <span>
        <h4>{{destino.nombre}}</h4>
      </span>
    </div>

    <div class="card-desc">
      <h3>{{destino.apellido}}</h3>
      <p>{{destino.descripcion}}</p>
      <a href="#" class="btn-card">Ver ficha completa</a>
      
    </div>
  </div>
